.container {
  display: block;
  margin: 0 auto;
  padding-left: 350px;
  padding-top: 70px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    109.6deg,
    rgb(204, 228, 247) 11.2%,
    rgb(237, 246, 250) 100.2%
  );
  max-width: 2600px;
  max-height: 3500px;
}
.card {
  border-color: #86c8fa;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.main-card {
  padding-left: 30px;
}
.preselected-cities {
  color: #86c8fa;
}
.preselected-cities :hover {
  text-decoration: underline;
  cursor: pointer;
}
.submit-button {
  background-color: #86c8fa;
  border: #86c8fa;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.current-location {
  background-color: #86c8fa;
  border: #86c8fa;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  left: 10px;
}

.city-time {
  padding-left: 20px;
  padding-bottom: 30px;
}

#current-city {
  font-weight: bold;
  text-transform: capitalize;
}

.central-card {
  position: relative;
  left: 18px;
}
.icon-current-day {
  font-size: 60px;
  position: relative;
  left: 40px;
  top: 10px;
}
.temperature {
  font-size: 50px;
  position: relative;
  left: 10px;
}
.units {
  font-size: 14px;
  position: relative;
  top: -25px;
  left: -4px;
}
#celcius,
#fahrenheit {
  text-decoration: none;
}
.current-weather {
  position: relative;
  left: 50px;
  top: 7px;
  list-style: none;
}
#description,
#humidity,
#wind,
#clouds {
  font-weight: bold;
}

.next-days {
  position: relative;
  left: 66px;
}
.icon-next-days {
  position: relative;
  right: 25px;
  bottom: 10px;
  max-width: 80px;
}
.temperature-next-days {
  position: relative;
  bottom: 20px;
}
.footer {
  font-size: 10px;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 180px;
}
a {
  color: #86c8fa;
}
